.lew {
    width: 350px;
    height: 500px;
}
.max {
    width: 350px;
    height: 500px;
}
.alo {
    width: 350px;
    height: 500px;
}
.leo {
    width: 350px;
    height: 500px;
}
.mj {
    width: 350px;
    height: 500px;
}
.tys {
    width: 350px;
    height: 500px;
}
.table {
    border-spacing: 35px;
    padding-left: 40px;
    margin-bottom: -50px;
}
.table1 {
    border-spacing: 35px;
    padding-left: 40px;
    margin-bottom: -50px;
}
.smaller-image {
    width: 100px; height: 100px;
}
.decoration {
    text-decoration: none;
}

.body {
    background-color: black;
} 